 body {
    background-color: #222;
    margin: 0;
    padding: 0;
    text-align: center;
    
  } 
  
.bufferpage{
    margin: 0;
    height:100vh;
    background-image: linear-gradient(rgb(159, 233, 159), rgb(25, 231, 25));
   position: relative;
  
}
.loader{
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 0.5s linear infinite;
    position: relative;
    top:220px;
    left:750px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.buffertitle{
    top:200px;
    color:black;
    text-align: center;
    position: relative;
    font-size: 70px;
    font-family: 'Orbitron', sans-serif;
    line-height: 75px;
}



  .game-board {
    position :relative;
   
    min-height: 300px;
    min-width: 300px;
    font-size: 0; /* handle collapsing margins */
    background-color: #222;
    margin: 0;
    padding: 0;
    text-align: center;
    

  }
  
  .quadrant {
    border-style: solid;
    border-color: #eee;
    display: inline-block;
    height: 250px;
    width: 250px;
    
    position :relative;

  }
  .textvalue{
    color:black;
    font-size: 70px;
    font-family: 'Orbitron', sans-serif;
    line-height: 65px;
    text-align: center;
    position :relative;
    top:50px;
    
  }
  .top-left {
    border-top-left-radius: 100%;
    border-width: 4px 2px 2px 4px;
    background-color: greenyellow;
    cursor: pointer;
    position :relative;
    top:50px;
    
  }
  
  .top-right {
    border-top-right-radius: 100%;
    border-width: 4px 4px 2px 2px;
    position :relative;
    background-color:blueviolet;
    top:50px;
    cursor: pointer;

  }
  
  .bottom-left {
    border-bottom-left-radius: 100%;
    border-width: 4px 2px 4px 4px;
    position :relative;
    background-color:orange;
    top:50px;
    cursor: pointer;
  }
  
  .bottom-right {
    border-bottom-right-radius: 100%;
    border-width: 2px 4px 4px 2px;
    position :relative;
    background-color: red;
    top:50px;
    cursor: pointer;
  }

  @media screen and (max-width: 520px) {

    .quadrant {
        height: 150px;
        width: 150px; 
    }
}

    @media screen and (max-width: 320px) {

        .quadrant {
            height: 100px;
            width: 100px; 
        }

  }

  .gamebutton{
    top:20px;
    left:20px;
    font-size: 50px;
    border: 2px solid white;
    background-color: #222;
    height :80px;
    width:400px;
    color:rgb(206, 205, 205);
    text-align: center;
    position: relative;  
}

.score{
    top:0px;
    left:420px;
    font-size: 50px;
    color:rgb(206, 205, 205);
    text-align: center;
    position: relative; 
}
  

.scorevalue{
    top:0px;
    left:440px;
    font-size: 50px;
    color:rgb(206, 205, 205);
    text-align: center;
    position: relative; 
}