body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

  .home_container {
     background-image: url("https://images.unsplash.com/photo-1594652634010-275456c808d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
   position :relative;
   
  }

.gameimage{
    position: relative;
    z-index : "-1"; 
}

.gametitle{
    font-family: 'Orbitron', sans-serif;
  font-size: 70px;
  font-family: 'Permanent Marker', cursive;
  color:rgb(206, 205, 205);
  line-height: 75px;
  position: relative;
  
}

.gamebutton{
    top:250px;
    font-size: 20px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    height :80px;
    width:300px;
    color:rgb(206, 205, 205);
    text-align: center;
    position: relative;  
}

.game_box{
   
   background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height:100%;
  width: 80%;
  padding: 40px;
  
}